<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <title>知乎</title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/resources/stylesheets/nav.css' />
    <link rel='stylesheet' href='/resources/stylesheets/index.css' />
        <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </head>
    <body ng-app="zhihu" ng-controller="mainCtrl"  ng-cloak="">
        <div class="index container" >
            <div class="header" th:include="topnav:: topnav">
                <br clear="both"/>
            </div>
            <div class="index-zhihu col-md-12 ">
                <div class="left-content col-md-8 ">
                    <div class="tag-top">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="h4">最新动态</span>
                    </div>
                    <div class="content" th:each="contentWrapper : ${contentWrapperList}">
                        <div class="content-title"><a th:href="@{'/question/'+${contentWrapper.question.quesID}}" th:text="${contentWrapper.question.quesTitle}">这是一个问题</a></div>
                        <div class="content-writer"><strong th:text="${contentWrapper.user.username}">这是用户名</strong></div>
                        <div class="content-main"><p th:text="${contentWrapper.answer.ansContent}">这是内容</p></div>
                        <div class="up-and-down" >
                            <div class="hover-block" th:classappend="${contentWrapper.upvote.up}?'active':''"  style="cursor:pointer" th:attr="ng-click='up(\''+${contentWrapper.answer.ansID}+'\');'">
                                <div class="up" >
                                    <span class="glyphicon glyphicon-triangle-top"/>
                                </div>
                                <div class="h5 up-cont" th:text="${contentWrapper.answer.upvoteNumber}">1</div>
                            </div>
                            <div class="down"  th:classappend="${contentWrapper.upvote.down}?'active':''" th:attr="ng-click='down(\''+${contentWrapper.answer.ansID}+'\');'"  style="cursor:pointer">
                                <span class="glyphicon glyphicon-triangle-bottom"  />
                            </div>
                        </div>
                    </div>
                    <!--<div class="content" ng-repeat="answer in answers">-->
                        <!--<div class="content-title"><a href="/question/{{answer.question.quesID}}">{{answer.question.quesTitle}}</a></div>-->
                        <!--<div class="content-writer"><strong>{{answer.user.username}}</strong></div>-->
                        <!--<div class="content-main"><p>{{answer.ansContent}}</p></div>-->
                        <!--<div class="up-and-down" >-->
                            <!--<div class="hover-block" ng-class="{'active': answer.upvote.up}" style="cursor:pointer" ng-click="up(answer);">-->
                                <!--<div class="up" >-->
                                    <!--<span class="glyphicon glyphicon-triangle-top"/>-->
                                <!--</div>-->
                                <!--<div class="h5 up-cont">{{answer.upvoteNumber}}</div>-->
                            <!--</div>-->
                            <!--<div class="down" ng-class="{'active': answer.upvote.down}" ng-click="down(answer);" style="cursor:pointer">-->
                                <!--<span class="glyphicon glyphicon-triangle-bottom"  />-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="right-others col-md-4 ">
                  <img userID="working" src="/resources/images/static/working.png" alt=""/>
                  <span userID="warning">抱歉</span>
                </div>
            </div>
        </div>
        <script src="//cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
        <script>
            angular.module("zhihu",[]);
        </script>
        <script type="text/javascript" src="/resources/controller/mainController.js"></script>
    </body>


</html>
