<div th:fragment="ansPartial" xmlns:th="http://www.thymeleaf.org">
    <div class="content panel panel-default ">
        <div class="panel-heading">回答</div>
        <div class="panel-body">
            <div class="answer-content" th:each=" contentWrapper:${contentWrapperList}">
                <div class="row ans-row">
                    <div class="ans-up col-md-4 text-center">
                        <h6 class="up-count"><strong th:text ="${contentWrapper.answer.upvoteNumber}">10</strong></h6>
                        <h6 class="up-name"><strong>赞同</strong></h6>
                    </div>
                    <div class="col-content col-md-10  ">
                        <a th:href="@{'/question/'+${contentWrapper.answer.quesID}}"><span class="ans-title"><strong>hellohello</strong></span></a>
                        <h6 class="ans-content" th:text ="${contentWrapper.answer.ansContent}">123</h6>
                    </div>
                </div>
            </div>
            <!--<div class="answer-content" ng-repeat="answer in answers">-->
                <!--<div class="row ans-row">-->
                    <!--<div class="ans-up col-md-4 text-center">-->
                        <!--<h6 class="up-count"><strong>{{answer.upvoteNumber}}</strong></h6>-->
                        <!--<h6 class="up-name"><strong>赞同</strong></h6>-->
                    <!--</div>-->
                    <!--<div class="col-content col-md-10  ">-->
                        <!--<a href="/question/{{answer.quesID}}"><span class="ans-title"><strong>{{answer.question.quesTitle}}</strong></span></a>-->
                        <!--<h6 class="ans-content">{{answer.ansContent}}</h6>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>